pre {
    color: black var(--content) !important;
    background-color: unset !important;
  }

body {
    font-family: "Inria Sans", sans-serif;
}

.post-content code {
    font-size: 14px !important;
}

.gist .gist-meta{
    display: none !important;
}

.gist {
    background-color: transparent;
}